In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.327377 -1.393320
1    a  two  0.876514 -2.503023
2    b  one  0.666395 -1.637029
3    b  two -1.046714 -0.151178
4    a  one  0.419093  0.877774

In [2]:
#Series的Groupby
grouped = df['data1'].groupby(['台北','台北','台北','台中','台中'])
grouped

In [3]:
grouped.mean()

台中   -0.313811
台北    0.623429
Name: data1, dtype: float64

In [4]:
df['data1'].groupby(df['key2']).mean()

key2
one    0.470955
two   -0.085100
Name: data1, dtype: float64

In [5]:
s1 = df['data1'].groupby([df['key1'],df['key2']]).mean()
s1

key1  key2
a     one     0.373235
      two     0.876514
b     one     0.666395
      two    -1.046714
Name: data1, dtype: float64

In [6]:
s1.unstack(level='key1')

key1         a         b
key2
one   0.373235  0.666395
two   0.876514 -1.046714